$color-primary-0: #330020;	// Main Primary color */
$color-primary-1: #3E082A;
$color-primary-2: #320020;
$color-primary-3: #550035;
$color-primary-4: #6F0046;

$color-secondary-1-0: #5C5C7C;	// Main Secondary color (1) */
$color-secondary-1-1: #88889C;
$color-secondary-1-2: #70708B;
$color-secondary-1-3: #4A4A6E;
$color-secondary-1-4: #3A3A5F;

$color-secondary-2-0: #C5BEB6;	// Main Secondary color (2) */
$color-secondary-2-1: #FFFFFF;
$color-secondary-2-2: #E9DED3;
$color-secondary-2-3: #FFEEDC;
$color-secondary-2-4: #FFE7CC;
.show{
    background: $color-primary-4;
    color: $color-secondary-2-2;
    padding: 1.5rem 0;
    font-size: 2rem;
    letter-spacing: 0.1em;
    transition: all ease .3s;
    border-radius: 6px;
    display: flex;
    width: 100%;
    justify-content: center;
    &:hover{
        cursor: pointer;
        transition: all ease .3s;
        background: $color-secondary-2-4;
        color: $color-primary-4;
    }
}
.popup{
    width: 35vw;
    aspect-ratio: 1/1;
    padding: 1.5rem;
    border-radius: 6px;
    background: $color-secondary-2-2;
    margin: auto;
    .body{
        display: flex;
        flex-direction: column;
        height: 100%;
        .title{
            color: $color-primary-1;
            font-size: 2.2rem;
            line-height: 1.1;
            margin: 0 0 2.5rem 0;
            font-weight: 700;
            flex: 0 0 auto;
            text-align: center;
            text-transform: uppercase;
        }
        .text{
            flex: 1 1 auto;
            p{
                font-size: 1.8rem;
                line-height: 1.2;
                text-align: justify;
                color: $color-secondary-1-4;
                &:not(:last-child){
                    margin: 0 0 1rem 0;
                }
            }
        }
        button{
            flex: 0 0 auto;
            padding: 1.5rem 0;
            background: $color-primary-2;
            color: $color-secondary-2-1;
            font-size: 1.8rem;
            line-height: 1.2;
            text-transform: uppercase;
            border-radius: 6px;
            transition: all ease .3s;
            &:hover{
                cursor: pointer;
                transition: all ease .3s;
                opacity: 0.8;
            }
        }
    }
    &::backdrop{
        background: color-mix(in srgb, $color-primary-2, transparent 50%);
        width: 100vw;
    }
}